.layout {
  width: 100%;
}

/* =========  ========== */
.layout-content {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 280px;
}

.palette-grid {
  position: relative;
  top: 135px;
  left: 0;

  width: 100%;
  min-height: 100vh;

  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 2rem;
  padding-inline: 1rem;
}

@media screen and (max-width: 1420px) {
  .palette-grid {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media screen and (max-width: 1200px) {
  .palette-grid {
    grid-template-columns: repeat(2, 1fr);
  }
}
