.layout {
  min-height: 100vh;
  width: 100%;
  padding: 2.5rem 2rem;
}

.content {
  max-width: 1100px;
  margin-inline: auto;
}

/* Color main */
.color {
  margin-bottom: 100px;
}

.color__fill {
  height: 400px;

  display: flex;
  align-items: center;
  justify-content: center;

  font-size: 1.75rem;
  color: white;

  border-radius: 1rem;
  margin-bottom: 2rem;
  background: red;

  border: 1px solid rgb(223, 223, 223);
  box-shadow: 0 1px 5px rgb(243, 243, 243);
}

.color__codes {
  display: flex;
  gap: 1.5rem;
}

.color__code {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.25rem 1.25rem;
  border: 1px solid rgb(231, 231, 231);
  border-radius: 0.5rem;
  cursor: pointer;

  background-color: rgb(255, 255, 255);
  box-shadow: 0 4px 15px rgb(243, 243, 243);
}

.color__copy {
  display: flex;
  flex-direction: column;
}

.color__copy span:first-child {
  font-size: 1.25rem;
  font-weight: 500;
  margin-bottom: 0.25rem;
}

.color__copy span:last-child {
  font-size: 0.875rem;
  color: rgb(158, 158, 158);
}

.color__btn {
  height: 40px;
  width: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(255, 255, 255);
  border: 1px solid rgb(232, 232, 232);
  border-radius: 99em;
}

.color__btn:hover {
  background-color: rgb(244, 244, 244);
}

/* ========= Tints & Shades ======== */
.tint {
  margin-bottom: 100px;
}

.tint__header {
  display: flex;
  align-items: center;
  gap: 1rem;
  margin-bottom: 1.5rem;
}

.tint__title {
  font-size: 1.25rem;
  font-weight: 500;
}

.tint__link {
  height: 40px;
  width: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(255, 255, 255);
  border: 1px solid rgb(232, 232, 232);
  border-radius: 99em;
}

.tint__list {
  width: 100%;
  display: flex;
  border-radius: 0.75rem;
  overflow: hidden;
  border: 1px solid rgb(239, 239, 239);
  box-shadow: 0 1px 5px rgb(243, 243, 243);
}

.tint__color {
  width: 100%;
  height: 120px;
  background-color: red;
  cursor: pointer;
}

.tint__color:nth-child(1) {
  background-color: rgb(188, 0, 0);
}

.tint__color:nth-child(2) {
  background-color: rgb(235, 0, 0);
}

.tint__color:nth-child(3) {
  background-color: rgb(244, 0, 0);
}

.tint__color:nth-child(4) {
  background-color: rgb(248, 0, 0);
}

.tint__color:nth-child(5) {
  background-color: rgb(255, 63, 63);
}

.tint__color:nth-child(6) {
  background-color: rgb(255, 123, 123);
}

.tint__link:hover {
  background-color: rgb(245, 245, 245);
}

/* ========== error page ========= */
.error {
  height: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.error__message {
  font-size: 1.125rem;
}

/* ========= color picker style ======== */
.topbar {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1.5rem;
}

.random__btn {
  height: 45px;
  width: 45px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid rgb(215, 215, 215);
  border-radius: 99em;
}

.picker {
  width: 400px;
  position: relative;
  display: inline-flex;
  align-items: center;
  justify-content: space-between;
}

.picker__input {
  width: 100%;
  padding: 0.65rem 1.5rem;
  border-radius: 99em;
  font-size: 1.125rem;
  border: 1px solid rgb(201, 201, 201);
}

.picker__input:focus {
  outline-offset: 3px;
  outline: 3px solid rgb(126, 126, 255);
}

.picker__wrapper {
  position: absolute;
  right: 10px;

  height: 30px;
  width: 30px;
  border-radius: 99em;
  overflow: hidden;

  background-color: rgb(255, 255, 255);
  box-shadow: 0 0 0 1px rgb(221, 221, 221);
}

.picker__wrapper img {
  display: none;
}

.picker__color {
  height: 100%;
  width: 100%;
  right: 1rem;
  opacity: 0;
  cursor: pointer;
}

.picker__color::before {
  border: 5px solid red;
}
