.btn {
    padding: 0.5rem 1rem;
    border-radius: 0.375rem;
    border: 1px solid whitesmoke;
}

/* variants */
.btn--primary {

}

.btn--secondary {

}

.btn-tertiary {

}


/* sizes */
.btn--small {

}

.btn--medium {

}

.btn-large {

}

