:root {
  --background: white;
}

*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html,
body {
  background-color: var(--background);
  color: black;
}

a {
  text-decoration: none;
}

button {
  display: flex;
  align-items: center;
  font-family: inherit;
  background-color: transparent;
  outline: transparent;
  border: 0;
  cursor: pointer;
}

a {
  color: inherit;
}

input {
  background-color: transparent;
  font-family: inherit;
}


.layout {
  max-width: 1680px;
  width: 100%;
  margin-inline: auto;
}

.main-content {
  padding: 1rem;
}

